<footer>
  <div class="bigrow">
    <div class="bigcol">
      <img class="hinksmaps-animation" src="images/tan_bg_hinksmaps.gif" alt="Izzi Maps logo animation" style="width: 100%"> 
    </div>
    <div class="bigcol">
      <img class="hinksmaps-animation" src="images/tan_bg_hinksmaps.gif" alt="Izzi Maps logo animation" style="width: 100%">
    </div>
  </div>

    <div class="bigrow">
      <div class="bigcol">
        <img class="hinksmaps-animation-dark" src="images/black_bg_hinksmaps.gif" alt="Izzi Maps logo animation"
          style="width: 100%">
      </div>
      <div class="bigcol">
        <img class="hinksmaps-animation-dark" src="images/black_bg_hinksmaps.gif" alt="Izzi Maps logo animation"
          style="width: 100%">
      </div>
    </div>

  <!-- <img class="hinksmaps-animation" src="images/tan_bg_hinksmaps.gif" alt="Izzi Maps logo animation"> -->
  <p style="padding-right: 5%;">
    Website based on template by
    <a href="https://federicoaureliano.github.io/">Federico Mora</a>       
  </p>
</footer>

