@charset "UTF-8";

body {
    font: 18px/1.5 Helvetica, Arial, sans-serif;
    line-height: 1.3;
    min-height: 100vh;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    z-index: 3
}

.content {
    min-height: calc(100vh - 4em);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
}

header {
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    height: 0.4em;
}

#scroller {
    height: 0.4em;
    width: 0%;
    position: absolute;
    left: 0;
}

footer {
    margin-left: 0;
    margin-right: 0;
    max-width: 2000px;
    width: 100%;
    font-size: xx-small;
    text-align: right;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #AAAAAA;
    position: relative;
    z-index: -5;
    padding-top: 5em;
    padding-bottom: 1.5em;
}

footer a {
    color: #AAAAAA;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
}

h1 {
    padding-top: 2em;
}

h3 {
    font-weight: 500;
    font-size: medium;
    display: inline-block;
    padding-top: 1em;
}

p {
    padding-top: 1em;
}

small {
    font-size: 85%;
}

a {
    text-decoration: none;
}

.hbar {
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid;
    border-bottom-width: 2px;
    padding-top: 0.25em;
}

.section {
    font-size: smaller;
}

/* Start blobs */
.blob {
    position: fixed;
    top: 30%;
    left: 105%;
    fill: #D05F31;
    width: 35vmax;
    z-index: -1;
    /* animation: move 10000s ease-in-out infinite; */
    transform-origin: 30% 30%;
    transform: rotate(190deg);
}

.blob2 {
    position: fixed;
    top: 70%;
    left: 5%;
    fill: #42A677;
    width: 10vmax;
    z-index: -1;
    /* animation: move 10070s ease-in-out infinite; */
    transform-origin: 30% 25%;
    transform: rotate(40deg);
}

.blob3 {
    position: absolute;
    top: 7%;
    left: 20%;
    fill: #F6B144;
    width: 5vmax;
    z-index: -1;
    /* animation: move1 10800s ease-in-out infinite; */
    transform-origin: 10% 80%;
}

.blob4 {
    position: fixed;
    /* top: 15%;
    left: -10%; */    
    top: -5%;
    left: -5%;
    fill: #333E8C;
    width: 15vmax;
    z-index: -1;
    /* animation: move 280s ease-in-out infinite; */
    transform-origin: 60% 20%;
    transform: rotate(100deg);
}

@keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}

@keyframes move1 {
    0%   { transform: scale(1)   translate(30%, -28%); }
    38%  { transform: scale(1) translate(2%, -2%) rotate(160deg); }
    40%  { transform: scale(1) translate(40%, 3%) rotate(160deg); }
    78%  { transform: scale(1) translate(2%, 1%) rotate(-20deg); }
    80%  { transform: scale(1) translate(-19%, 22%) rotate(-20deg); }
    100% { transform: scale(1)   translate(22%, -24%); }
}

/* End blobs */

/* Start Profile */
.headshot-img, .headshot-img-dark {
    padding-top: 1.25em;
    padding-right: 1em;
    padding-bottom: 0em;
    width: 36%;
    max-width: 235px;
    float: left;
    /* border-radius: 80px 0px 80px 0px; */
}



/* End Profile */

/* Start News and Pubs */
.paper {
    padding-top: 1em;
}

.paper-flex {
    display: flex;
}

#news {
    padding-top: 0.5em;
}

.news-item {
    font-size: smaller;
    display: flex;
    padding-top: 0.5em;
}

.paper-conference, .news-left {
    float: left;
    width: 10%;
    text-decoration: none;
}

.paper-conference {
    align-items: center;
}

.news-right {
    float: center;
    padding-left: 20px;
    width: calc(90% - 20px);
}

.paper-details {
    float: center;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(90% - (75px + 20px + 20px));
}

.paper-icons {
    float: right;
    width: 100px;
    align-items: center;
    display: flex;
}

.paper-icon, .paper-icon-dark {
    width: 20px;
    padding-left: 5px;
}

.hinksmaps-animation, .hinksmaps-animation-dark {
    z-index: -5;
    width: 100%;
    height: auto;
}

.paper-title {
    font-style: italic;
}

/* End News and Pubs */

/* Extra stuff for pubs */
.paper-flex:before,
.paper-flex:after,
.paper-flex:after {
  clear: both;
}

.smallscreen {
    display: none;
}
.bigscreen {
    display: revert;
}

/* Special Stuff For Small Screens */
@media screen and (max-width: 815px) {
    .bigscreen {
        display: none;
    }
    .smallscreen {
        display: revert;
    }

    .paper {
        display: list-item;
        list-style-type: circle;
        margin-left: 1em;
        width: calc(100% - 1em);
    }

    .paper-icon, .paper-icon-dark {
        display: None;
    }
    
    .paper-flex {
        flex-flow: wrap;
    }

    .paper-conference {
        float: none;
        width: fit-content;
        padding-right: 0.5em;
        font-size: smaller;
    }

    .paper-details {
        float: none;
        width: 100%;
        padding: 0px;
    }

    .paper-icons {
        font-size: smaller;
        float: none;
        width: fit-content;
        display: unset;
    }

    .paper-conference { order: 1; }
    .paper-icons { order: 2;  }
    .paper-details { order: 3; }
    
    a:after {
        content: attr(alt);
    }

    .slider { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* Mode switch */
input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0.6em;
    left: 4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 30px;
    height: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: dimgray;
}

input:focus + .slider {
    box-shadow: 0 0 1px dimgray;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Create equal columns that float next to each other */
.column {
    float: left;
    text-align: right;
    width: 18%;
    font-size: 12px;
  }

/* Start Profile */
.left_col {
    width: 36%;
    /* max-width: 235px; */
    float: left;
    text-align: left;
    font-size: 29px;  
}

.right_col {
    padding-top: 4.5em;
    width: 64%;
    max-width: 640;
    float: right;
    text-align: right;
    font-size: 12px;
    line-height: 18px;
}

.right_col:nth-of-type(2) a {
    font-size: 12px;
    padding: 10px;
}

.right_col:nth-of-type(2) a:hover {
    font-size: 18px;
    text-decoration: underline;
    text-decoration-style: wavy;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bigrow {
    width: 100%;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.bigcol {
    flex: 33.33%;
    padding: 0px;
}

  /* Responsive layout - when the screen is less than 640px wide, make the  columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
    .column {
      width: 100%;
      text-align: center;
    }

    .left_col {
        width: 100%;
        text-align: center;
      }

    .right_col {
        width: 100%;
        text-align: center;
    }

    /* Change the blob layout to not cover too much text */
    .blob { /* orange */
        top: 13%;
        left: 116%;    
        position: absolute;
}

    .blob2 { /* green */
        top: 22%;
        left: -10%;    
        position: absolute;
}

    .blob3 { /* yellow */
        top: 7%;
        left: 16%;    
        position: absolute;
}

    .blob4 { /* blue */
        display: none;
    }
  }