header {
    background-color: #333E8C;
}

#scroller {
    background-color: #42A677;
}

body {
    background-color: #EFE6DA;
    color: font-color;
}

.paper-icon-dark {
    display: None;
}

.headshot-img-dark {
    display: None;
}

h1,
h2,
h3 {
    color: #333E8C;
}

a {
    color: #333E8C;
}

a:hover {
    color: #42A677;
}

.hbar {
    color: #C65B30;
}

h3 {
    border-bottom: 1px #C65B30 dashed;
}
